body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(254,10,10,1) 0%, rgba(232,226,17,1) 50%, rgba(0,39,255,1) 100%);
}

h1{
    text-align: center;
}

.container{
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.input-group{
    justify-content: center;
}

.card{
    width: 300px;
    justify-content: center;
    margin: auto;
}